<script type="text/javascript">
  $(function() {
    $("button.venue").click(function() {
      if($(this).hasClass("new")) {
	$(".field.new.venue").show();
	$(".field.existing.venue").hide();
	$("button.new.venue").hide();
	$("button.existing.venue").show();
      } else {
	$(".field.new.venue").hide();
	$(".field.existing.venue").show();
	$("button.new.venue").show();
	$("button.existing.venue").hide();
      }
      return false;
    });
  });
</script>
<style type="text/css">
  .field.venue.existing, button.venue.new {
    display:none;
  }
  html,body {
    overflow:auto;
  }
  textarea {
    height:100px;
  }
  .field {
    margin:20px;
  }
  .sublabel {
    width: 60px;
    display: inline-block;
  }
</style>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <button class="existing venue">Use Existing Venue</button>
    <button class="new venue">Create New Venue</button>
  </div>
  <div class="field new venue">
    new venue
  </div>
  <div class="field existing venue">
    <%= select("event", "venue_id", Venue.all.collect {|v| [ v.name, v.id ] }, {:prompt => 'Select Venue'}) %>
  </div>
  <div class="field">
    <%= f.label :time %><br/>
    <div class="sublabel">start</div><%= select_datetime DateTime.now, :prefix => :start %><br/>
    <div class="sublabel">end</div><%= select_datetime DateTime.now, :prefix => :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
