<script type="text/javascript">
	$(function() {
			var event_id = <%= params[:event_id] || 0 %>;
			var venue_id = <%= params[:venue_id] || 0 %>;
			if(event_id != 0) {
				modal({type: "event", id: event_id});
			}
			if(venue_id != 0) {
				modal({type: "venue", id: venue_id});			
			}
	});
</script>
<div id="content">
	<div class="sidebar">
		<div class="inner">
			<h3>filter events by</h3>
			<div class="filter date">
				<h5>date</h5>
				<input type="text" class="start date" placeholder="now"/> to <input type="text" class="end date" placeholder="forever"/>
			</div>
			<div class="filter day">
				<h5>day of the week</h5>
				<span class="selected">mon</span><span class="selected">tue</span><span class="selected">wed</span><span class="selected">thu</span><span class="selected">fri</span><span class="selected">sat</span><span class="selected">sun</span>
			</div>
			<div class="filter distance">
				<h5>distance</h5>
				<div class="distances">
					<div>
						<span class="selected" val="0">everywhere</span>
						<span val="0">everywhere</span>
						<span val=".5">stumbling distance (&frac12; mi)</span>
						<span val="1">walking distance (1 mi)</span>
						<span val="2">biking distance (2 mi)</span>
						<span val="5">driving distance (5 mi)</span>
					</div>
				</div>
			</div>
			<div class="filter price">
				<h5>price</h5>
				<span class="selected">free</span><span class="selected">$</span><span class="selected">$$</span><span class="selected">$$$</span><span class="selected">$$$$</span>
			</div>
			<div class="filter tags">
				<h5>tags</h5>
				<input type="text" class="tags" />
				<div class="tag-library"></div>
			</div>
		</div>
	</div>
	
	
	<div class="main">
		<div class="inner">
			<div class="header">9000+ events around <span>Austin</span></div>
			<ul class="events">
			<% # TODO: put this stuff in the controller eventually & merge date + time fields for event. %>
			<% now = DateTime.now.change(:hour => 0) %>
			<% day_of_week = ['SUN','MON','TUE','WED','THU','FRI','SAT'] %>
	  		<% @events.each do |event| %>
	    	<li event_id="<%= event.id %>">
				<div class="vote">
					<img src="/assets/upvote7.png" class="upvote" />
					<img src="/assets/downvote7.png" class="downvote" />
				</div>
				<div class="when sun">
					<div class="mod"><%= (event.date < now) ? event.date.strftime("%m/%e") : (event.date < (now + 7)) ? 'THIS' : (event.date < (now + 14)) ? 'NEXT' : event.date.strftime("%-m/%e") %></div>
					<div class="day"><%= day_of_week[event.date.wday] %></div>
					<div class="time"><%= event.time.strftime("%I:%M%P") %></div>
				</div>
				<div class="one">
					<span class="name"><%= event.title %></span>
					<span class="venue"><%= event.location %></span>
					<div class="description"><%= truncate(strip_tags(event.description),
			                 :length => 300) %></div>
				</div>
			</li>
	        <!--<%= link_to 'Show', event %><br/>
	        <%= link_to 'Edit', edit_event_path(event) %><br/>
	        <%= link_to 'Destroy', event, 
	                    :confirm => 'Are you sure?',
	                    :method => :delete %>-->
	  		<% end %>

		</div>
	</div>
</div>
<div class="event mode">
	<div class="overlay"></div>
	<div class="window">
		<div class="inner">
			<h1>event</h1>
		</div>
	</div>
</div>
<div class="venue mode">
	<div class="overlay"></div>
	<div class="window">
		<div class="inner">
			<h1>venue</h1>
		</div>
	</div>
</div>
<br />
<%= link_to 'New event', new_event_path %>
