<script type="text/javascript">
	// $(function() {
	// 	$(".toggle-recurring input").attr('checked', false);

	// 	$(".toggle-recurring input").change(function() {
	// 		$(this).parent().siblings(".new-occurrence").toggle();
	// 		$(this).parent().siblings(".new-recurrence").toggle();
	// 	});

	// 	$(".new-occurrence .field select[name*=4i], .new-occurrence .field select[name*=5i]").val("");

	// 	$(".new-recurrence select[name*=interval]").change(function() {
	// 		$(this).siblings(".recur-parameter").hide();
	// 		switch($(this).val())
	// 		{
	// 			case "0":
	// 				$(this).siblings(".recur-parameter.day").show(); break;
	// 			case "1":
	// 				$(this).siblings(".recur-parameter.day-of-week").show(); break;
	// 			case "2":
	// 				$(this).siblings(".recur-parameter.day-of-month").show(); break;
	// 			case "3":
	// 				$(this).siblings(".recur-parameter.day-of-week").show();
	// 				$(this).siblings(".recur-parameter.week-of-month").show(); break;
	// 		}
	// 	});

	// 	$(".new-recurrence select[name*=interval]").change();
	// });
</script>

<% @ordinal = ["th","st","nd","rd","th","th","th","th","th","th"] %>
<% @week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %>
<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>

<% @venue.raw_events.each do |raw_event| %>
	<% event = Event.new(:title => raw_event.title, :description => raw_event.description) 
	   occurrence = Occurrence.new(:start => raw_event.start, :end => raw_event.end) %>
	<%= form_for event, :url => "/venues/fromRaw" do |e| %>
		<div class="main event">
			<div class="field">
			  <%= e.label :title %>
			  <%= e.text_field :title %>
			</div>
			<div class="field">
			  <%= e.label :description %>
			  <%= e.text_area :description %>
			</div>
			<div class="field">
			  <%= e.label :price %>
			  <%= e.text_field :price, :class => "price" %>
			</div>
			<div class="occurrence">
				<div class="new-occurrence">
					<%= e.fields_for :occurrences, occurrence do |o| %>
					    <div class="field">
					    	<%= o.label :start %><%= o.datetime_select :start, :prompt => true, :ampm => true %>
					    </div>
					    <div class="field">
					    	<%= o.label :end %><%= o.datetime_select :end, :prompt => true, :ampm => true %>
					    </div>
					<% end %>
				</div>
			</div>
			<div class="actions">
				<%= e.submit %>
			</div>
		</div>
	<% end %>
<% end %>