<script type="text/javascript">
  var geocoder;
  var map;
  var marker = null;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(30.25, -97.75);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map($("#map_canvas")[0], myOptions);
    codeAddress();
  }

  function codeAddress() {
    var address = ($("#venue_address").val() != "") ? $("#venue_address").val() + " " + $("#venue_city").val() + ", " + $("#venue_state").val() + " " + $("#venue_zip").val() : "Austin, TX";
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	if(marker) 
	  marker.setMap(null);
	map.setCenter(results[0].geometry.location);
	marker = new google.maps.Marker({
	    map: map,
	    position: results[0].geometry.location
	});
	$("#venue_latitude").val(results[0].geometry.location.lat());
	$("#venue_longitude").val(results[0].geometry.location.lng());
      } else {
	console.log("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  $(function() {
    $(".location").blur(codeAddress);
  });

</script>

<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>

<%= form_for @venue, :url => @venue.id ? "/venues/update/" + @venue.id.to_s : "/venues/create" do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="main settings">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :class => 'location' %>
    </div>
    <div class="field">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, :class => 'location' %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, :class => 'location' %>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, :class => 'location' %>
    </div>
    <div class="tags field">
    <label>Tags</label>
    <div class="input-tags">

    <% @parentTags.each do |tag| %>
      <div class="parent tag">
        <%= check_box_tag "venue[tag_ids][]", tag.id, @venue.tags.include?(tag), :id => "venue_tag_ids_" + tag.id.to_s %>
        <%= label_tag "venue[tag_ids][]", tag.name, :for => "venue_tag_ids_" + tag.id.to_s %>
      </div>
      <div class="children">
      <% tag.childTags.each do |childTag| %>
        <div class="child tag">
          <%= check_box_tag "venue[tag_ids][]", childTag.id, @venue.tags.include?(childTag), :id => "venue_tag_ids_" + childTag.id.to_s %>
          <%= label_tag "venue[tag_ids][]", childTag.name, :for => "venue_tag_ids_" + childTag.id.to_s %>
        </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <div id="map_canvas"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
