<script type="text/javascript">
    $(document).ready(function(){
	    <% @venue.raw_events.each do |raw_event| %>
	    	generateValidator("#new_event_<%= raw_event.id %>");
	    <% end %>
    });
</script>

<% @ordinal = ["th","st","nd","rd","th","th","th","th","th","th"] %>
<% @week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %>
<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>
<% @venue.raw_events.each do |raw_event| %>
	<% event = @venue.events.build(:title => raw_event.title, :description => raw_event.description) 
	   occurrence = Occurrence.new(:start => raw_event.start, :end => raw_event.end) %>
	<%= form_for event, :url => "/venues/fromRaw/" + @venue.id.to_s, :html => { :id => "new_event_" + raw_event.id.to_s } do |e| %>
		<% @iStrName = "event[tag_ids][]" %>
    	<% @iStrId = "event_tag_ids_" %>
		<%= hidden_field_tag :raw_event_id, raw_event.id %>
		<div class="main event">
			<div class="field">
			  <%= label_tag :URL %>
			  <a class="url" href="<%= raw_event.url %>"><%= raw_event.from %> link</a>
			</div>
			<div class="field">
			  <%= e.label :title %>
			  <%= e.text_field :title, :class => "required" %>
			</div>
			<div class="field">
			  <%= e.label :description %>
			  <%= e.text_area :description %>
			</div>
			<div class="field" minlength="2">
			  <%= e.label :price %>
			  <%= e.text_field :price %>
			</div>
			<div class="tags field">
				<label>Tags</label>
				<div class="input-tags">
				<% @parentTags.each do |tag| %>
					<div class="parent tag">
					<%= check_box_tag @iStrName, tag.id, (event.tags.include?(tag) || @venue.tags.include?(tag)), :id => (@iStrId + tag.id.to_s) %>
					<%= label_tag @iStrName, tag.name, :for => (@iStrId + tag.id.to_s) %>
					</div>
					<div class="children">
					<% tag.childTags.each do |childTag| %>
						<div class="child tag">
						<%= check_box_tag @iStrName, childTag.id, (event.tags.include?(childTag) || @venue.tags.include?(childTag)), :id => (@iStrId + childTag.id.to_s) %>
						<%= label_tag @iStrName, childTag.name, :for => (@iStrId + childTag.id.to_s) %>
						</div>
					<% end %>
					</div>
			    <% end %>
		    	</div>
				<div class="occurrence">
					<div class="new-occurrence">
						<%= e.fields_for :occurrences, occurrence do |o| %>
						    <div class="field">
						    	<%= o.label :start %><%= o.datetime_select :start, {:prompt => true, :ampm => true}, {:class => "required"} %>
						    </div>
						    <div class="field">
						    	<%= o.label :end %><%= o.datetime_select :end, :prompt => true, :ampm => true %>
						    </div>
						<% end %>
					</div>
				</div>
				<div class="actions">
					<%= e.submit %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>