
<style>

    .error {
        border: 1px solid red;
        color:red;
    }
</style>
<script type="text/javascript">
    var validators = [];
	$(document).ready(function(){
	
<% @venue.raw_events.each do |raw_event| %>
		
        validators[<%= raw_event.id %>] = $("form#<%= raw_event.id %>_new_event").validate({
            rules: {
                title: {required:true},
                price: {required:true},
            },
            message: {
                title: {
                    required: 'Title can not be empty.'
                },
                price: {
                    required: 'Price can not be empty.'
                },

            },

			submitHandler: function(form) {
				// form.submit();
			} 	
        }); 

		$('form#<%= raw_event.id %>_new_event').submit(function() { 
        	// inside event callbacks 'this' is the DOM element so we first 
        	// wrap it in a jQuery object and then invoke ajaxSubmit 
        	$(this).ajaxSubmit({beforeSubmit: 
											function(){
												return validators[<%= raw_event.id %>].numberOfInvalids() == 0;
											},
							   success:
											function(){
												alert("yay");
											}
			}); 
			// {success:function(){alert("yay");}}
        	return false; 
		});

		/*$('form#<%= raw_event.id %>_new_event').submit(function() { 
		        // inside event callbacks 'this' is the DOM element so we first 
		        // wrap it in a jQuery object and then invoke ajaxSubmit 
		        $(this).ajaxSubmit({success:function(){alert("yay");}}); 

		        // !!! Important !!! 
		        // always return false to prevent standard browser submit and page navigation 
		        return false; 
		});*/

<% end %>
    });
</script>

<% @ordinal = ["th","st","nd","rd","th","th","th","th","th","th"] %>
<% @week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %>
<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>
<% @venue.raw_events.each do |raw_event| %>
	<% event = @venue.events.build(:title => raw_event.title, :description => raw_event.description) 
	   occurrence = Occurrence.new(:start => raw_event.start, :end => raw_event.end) %>
	<%= form_for event, :url => "/venues/fromRaw/" + @venue.id.to_s, :namespace => raw_event.id.to_s do |e| %>
		<% @iStrName = "event[tag_ids][]" %>
    	<% @iStrId = "event_tag_ids_" %>
		<%= hidden_field_tag :raw_event_id, raw_event.id %>
		<div class="main event">
			<div class="field">
			  <%= label_tag :URL %>
			  <a class="url" href="<%= raw_event.url %>"><%= raw_event.from %> link</a>
			</div>
			<div class="field">
			  <%= e.label :title %>
			  <%= e.text_field :title %>
			</div>
			<div class="field">
			  <%= e.label :description %>
			  <%= e.text_area :description %>
			</div>
			<div class="field" class="required" minlength="2">
			  <%= e.label :price %>
			  <%= e.text_field :price, :class => "price required"%>
			</div>
			<div class="tags field">
				<label>Tags</label>
				<div class="input-tags">
				<% @parentTags.each do |tag| %>
					<div class="parent tag">
					<%= check_box_tag @iStrName, tag.id, (event.tags.include?(tag) || @venue.tags.include?(tag)), :id => (@iStrId + tag.id.to_s) %>
					<%= label_tag @iStrName, tag.name, :for => (@iStrId + tag.id.to_s) %>
					</div>
					<div class="children">
					<% tag.childTags.each do |childTag| %>
						<div class="child tag">
						<%= check_box_tag @iStrName, childTag.id, (event.tags.include?(childTag) || @venue.tags.include?(childTag)), :id => (@iStrId + childTag.id.to_s) %>
						<%= label_tag @iStrName, childTag.name, :for => (@iStrId + childTag.id.to_s) %>
						</div>
					<% end %>
					</div>
			    <% end %>
		    	</div>
				<div class="occurrence">
					<div class="new-occurrence">
						<%= e.fields_for :occurrences, occurrence do |o| %>
						    <div class="field">
						    	<%= o.label :start %><%= o.datetime_select :start, :prompt => true, :ampm => true %>
						    </div>
						    <div class="field">
						    	<%= o.label :end %><%= o.datetime_select :end, :prompt => true, :ampm => true %>
						    </div>
						<% end %>
					</div>
				</div>
				<div class="actions">
					<%= e.submit %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>