<!DOCTYPE html>
<html>
<head>
  <title>half past now.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.17.custom.min.js" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "main" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
