<!DOCTYPE html>
<html>
<head>
  <title>half past now.</title>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery.validate" %>
  <%= javascript_include_tag "jquery.form" %>
  <%= stylesheet_link_tag "venue" %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuX99Cn10qLVF0AQNRzduy012YqkaIXgk&sensor=false"></script>
</head>
<body onload="if(typeof initialize !== 'undefined') initialize();">
<script type="text/javascript">
  var validators = {};

  function generateValidator(selector, options) {
    options = options || {};

    if(options["ajax"] == true) {
      validators[selector] = $(selector).validate(
            { submitHandler: function(form) {
              // do nothing
              } 
          }); 

      $(selector).submit(function() { 
            var obj = $(this);
            $(this).find("[type='submit']").after("<img src='/assets/admin-load.gif' class='form-load'/>");
            obj.ajaxSubmit({
                beforeSubmit: function() {
                                return validators[selector].numberOfInvalids() == 0;
                              },
                success: function() {
                          // obj.remove();
                          obj.find('.form-load').remove();
                          obj.slideUp();
                        }
            }); 
            return false; 
      });
    } else {
      validators[selector] = $(selector).validate();
    }
  }
</script>
<%= yield %>

</body>
</html>
